.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.heading {
    font-size: 20px;
    margin: 20px 0px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 500px;
    height: 500px;
}
.gridSquare {
    border: black solid 1px;
    display: flex;

}

.input {
    width: 80px;
}