.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading {
    font-size: 20px;
    margin: 20px 0px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 400px;
    height: 400px;
}
.gridSquare {
    border: black solid 1px;
    display: flex;
    width: 10px;
    height: 10px;
}